footer
  #draggerSnap.hide
  .container.m-auto
    ul.list-inline.pull-left
      li &copy; #{moment(Date.now()).format('YYYY')} Buzz Buzz -
      li
        | Code licensed under &nbsp;
        a(href='http://opensource.org/licenses/mit-license.html') MIT License
