aside.snap-drawers
  #sidebar.snap-drawer.snap-drawer-left
    //- div
    //-   //- a#brandLogo.navbar-brand(href='/')
    //-   //-   img.m-r-xs(src=config.cdn_assets + "/img/app.png" width="30", height="30")
    //-   //- .clearfix
    nav
      img(src=config.cdn_assets + "/img/sidebar-dummy.png")
