doctype html
html.app(lang='en')

  include ../includes/head

  if (req.isAuthenticated())

    include ../includes/sidebar

    #page.snap-content

      include ../includes/flash

      include ../includes/header

      section.container
        block main

        block content

        block form

      //- .image-banner
      //-   .image-banner-src
      //-   .overlay-banner

      include ../includes/footer


    include ../includes/foot


  else
    .site-main.bg-black
      .promo
        .promo-content
          .promo-bg.u-fill

            .u-fill.promo-inner.text-white

              .promo-fill

                img.m-t-lg.block.m-auto(src=config.cdn_assets + "/img/app.png" width="100", height="100")
                h1.block.m-auto.text-center Buzzme

                .m-b-xl

                .col-lg-8.m-auto.pull-none.text-white.p-b-lg.p-t-lg
                  h2.promo-title.text-center
                    strong Find&nbsp;
                    | what you love,&nbsp;
                    strong Love&nbsp;
                    | what you do,&nbsp;
                    br
                    strong Share&nbsp;
                    what you love.

                .m-b-lg
                  //- Together we can help Brands become the talk all over Social Media accounts

                .clearfix.p-b-lg

                .m-t-lg.col-sm-6.p-t-xl.m-auto.text-center.pull-none.p-l-xl

                  a.text-xl.m-l-sm.btn.btn-lg.btn-twitter(href="/auth/twitter")
                    i.fa.fa-fw.fa-twitter.m-l-sm
                    | &nbsp; Sign in with Twitter

                  a.text-xl.btn.btn-md.btn-facebook(href="/auth/facebook")
                    i.fa.fa-fw.fa-facebook.m-l-sm
                    | &nbsp; Sign in with Facebook
                  .clearfix

                .clearfix

            .u-fill.overlay


